.team-header {
  h1,
  h3 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #cd5542;
    margin-bottom: 2%;
  }
}

.team-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  .col-lg-6 {
    display: flex;
    flex-direction: column;
  }

  h1,
  h3 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
  }
  background-color: #06284e;
  color: white;

  .founder-image {
    padding: 27px 0px 27px 0px;
    img {
      border-radius: 50%;
      width: 250px;
      height: 250px;
      margin: 0 auto;
      vertical-align: middle;
      top: 10%;
      position: relative;
      border: 5px solid white;
    }

    h4 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 2%;
    }
  }
  .founder-para {
    margin: 0 auto;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    padding-top: 6%;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;

    h4 {
      text-align: center;
    }
  }
}

.team-sub-container {
  background-color: #d7d7d7;
  color: #333333;
  padding-bottom: 3%;

  .title {
    font-size: 24px;
    margin-top: 2%;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #cd5542;
    margin-bottom: 2%;
  }

  img {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    display: block;
    margin: 0 auto;
    border: 5px solid white;
  }

  h5,
  h4,
  h3 {
    text-align: center;
  }

  h5 {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #cd5542;
    margin-bottom: 2%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .team-sub-container {
    h5 {
      margin-bottom: 12%;
    }
  }

  .ethics-description {
    padding: 0% 7% !important;
  }
}

.ethics-description {
  padding: 0% 26%;

  p {
    font-size: 21px;
  }
}

.ethics-points {
  li {
    line-height: 28px;
  }
}
