.services-container {
  h3 {
    margin: 0;
    margin-bottom: 1%;
    font-family: "Raleway", sans-serif;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #cd5542;
    font-weight: bold;
  }

  h4 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    line-height: 28px;
  }

  h5 {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
  }

  ul {
    list-style-type: none;

    li {
      font-size: 14px;
      padding: 1%;
      border-left: 5px solid #cd5542;
      border-top: 1px solid #d7d7d7;
      border-right: 1px solid #d7d7d7;
      border-bottom: 1px solid #d7d7d7;
      margin-bottom: 1%;
    }
  }
  .services-title {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #cd5542;
    margin-bottom: 2%;
  }

  .tab-icons {
    ul {
      list-style-type: none;

      li {
        padding: 1%;
        border-left: 5px solid #cd5542;
        border-top: 1px solid #d7d7d7;
        border-right: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
        margin-bottom: 1%;
        line-height: 25px;
      }
    }
  }

  header {
    background-color: #f2c94d;
  }

  .MuiTab-labelContainer-56 {
    span {
      font-size: 14px;
      font-family: "Ubuntu", sans-serif;
    }
  }

  span[class^="jss"] {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
  }

  .MuiPrivateTabIndicator-colorPrimary-63 {
    background-color: #1d809f;
  }

  .tab-content {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: 26px;
    font-weight: bold;
  }
}

.MuiTab-textColorPrimary-50 {
  .MuiTab-selected-52 {
    color: #1d809f !important;
  }
}

.services-button {
  pointer-events: none;
  background: #ecc963;
  outline: none;
  border: none;
  min-height: 5vh;
  min-width: 20vh;
  margin-right: 3%;
  margin-bottom: 1%;
  font-size: 16px;
  color: #3d809e;
  text-shadow: none;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.services-tab-container {
  max-height: 46vh;
  overflow: auto;
  margin-bottom: 3%;
}

.contact-form {
  margin: 0 auto;
  text-align: center;
  padding: 31px 24px 0px 49px;

  .contact-form-title {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
  }

  .contact-form-name,
  .contact-form-mail,
  .contact-form-message {
    display: block;
    text-align: center;
    width: 100%;
    min-height: 70px;
    border: none;
    border-bottom: 1px dotted grey;
    outline: none;
    font-size: 18px;
  }

  .contact-form-message {
    padding: 6%;
  }

  .contact-submit-button {
    width: 40%;
    height: 53px;
    margin-top: 9%;
    background-color: #f2c94d;
    color: #1d809f;
    font-size: 14px;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    outline: none;
  }
}

.services-image {
  width: 100%;
  margin-bottom: 3%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-image: url(../../assets/images/Services-image.jpg);
}

.tab-icons-span {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: justify;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 2%;
  display: block;
}

a {
  display: block;
}

.training-header {
  span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 2%;
    display: block;
  }
}
