.home-container {
  .logo-holder {
    position: absolute;
    top: -1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .logo-image {
      width: 100px;
      margin: 1%;
    }
  }
  .Home {
    padding: 0;
  }
  .title {
    font-size: 72px;
    font-family: "Ubuntu", sans-serif;
    position: absolute;
    top: 17%;
    left: 22%;
  }

  .sub-title {
    font-size: 45px;
    font-family: "Ubuntu", sans-serif;
    position: absolute;
    top: 26%;
    left: 56%;
    font-style: italic;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .home-container {
    .title {
      font-size: 24px;
      font-family: "Ubuntu", sans-serif;
      position: absolute;
      top: 23%;
      left: 13%;
    }

    .sub-title {
      font-size: 17px;
      font-family: "Ubuntu", sans-serif;
      position: absolute;
      top: 33%;
      left: 53%;
    }

    .logo-image {
      width: 60px !important;
      margin: 1%;
      margin-left: 4% !important;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 820px) and (orientation: landscape) {
  .home-container {
    .title {
      font-size: 33px;
      font-family: "Ubuntu", sans-serif;
      position: absolute;
      top: 19%;
      left: 26%;
    }

    .sub-title {
      font-size: 20px;
      font-family: "Ubuntu", sans-serif;
      position: absolute;
      top: 28%;
      left: 58%;
    }

    .logo-image {
      width: 60px !important;
      margin: 1%;
      margin-left: 4% !important;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .home-container {
    .title {
      font-size: 33px;
      font-family: "Ubuntu", sans-serif;
      position: absolute;
      top: 19%;
      left: 26%;
    }

    .sub-title {
      font-size: 20px;
      font-family: "Ubuntu", sans-serif;
      position: absolute;
      top: 28%;
      left: 58%;
    }

    .logo-image {
      width: 60px !important;
      margin: 1%;
      margin-left: 4% !important;
    }
  }
}
