.unnathi-container {
  .unnathi-header {
    h1 {
      font-family: "Ubuntu", sans-serif;
      text-align: center;
    }
  }
}

.services-title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

header {
  background-color: #f2c94d;
}

.MuiTab-labelContainer-56 {
  span {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
  }
}

.MuiPrivateTabIndicator-colorPrimary-63 {
  background-color: #1d809f;
}

.tab-content {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-align: justify;
  line-height: 26px;
}

.MuiTab-textColorPrimary-50 {
  .MuiTab-selected-52 {
    color: #1d809f !important;
  }
}

.unnathi-content {
  ul {
    padding: 2%;
    li {
      font-family: "Raleway", sans-serif;
      font-size: 18px;
      color: #2d2b2b;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }
}
