.support-container {
  text-align: center;
  margin-bottom: 2%;

  .support-title {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
  }

  span {
    font-size: 18px;
  }

  .circle {
    width: 100px;
    height: 100px;
    border: 1px solid #1d809f;
    border-radius: 54px;
    margin: 0 auto;
    margin-top: 11%;
    margin-bottom: 12%;
    cursor: pointer;
    background-color: rgba(242, 201, 77, 1);

    .circle-image {
      margin: 0 auto;
      vertical-align: middle;
      text-align: center;
      margin-top: 15%;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  .projects-slide {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

.support {
  .modal-dialog {
    width: 31%;

    h3 {
      text-align: center;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .circle {
    margin-top: 3% !important;
    margin-bottom: 10% !important;
  }

  .support {
    .modal-dialog {
      width: 94%;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 820px) and (orientation: landscape) {
  .support {
    .modal-dialog {
      width: 94%;
    }
  }
}
